USE [TechGear_Test1_Gordeychik_db]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 02.05.2025 10:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[ProductMaterialId] [int] IDENTITY(1,1) NOT NULL,
	[ProductMaterialName] [nvarchar](50) NULL,
	[PercentDamage] [decimal](5, 2) NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[ProductMaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerProducts]    Script Date: 02.05.2025 10:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerProducts](
	[PartnerProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[PartnerId] [int] NULL,
	[ProductCount] [int] NULL,
	[DataSale] [date] NULL,
 CONSTRAINT [PK_PartnerProducts] PRIMARY KEY CLUSTERED 
(
	[PartnerProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 02.05.2025 10:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[PartnerId] [int] IDENTITY(1,1) NOT NULL,
	[PartnerTypeId] [int] NULL,
	[PartnerName] [nvarchar](50) NULL,
	[PartnerCeo] [nvarchar](100) NULL,
	[PartnerEmail] [nvarchar](50) NULL,
	[PartnerPhone] [nvarchar](50) NULL,
	[PartnerAddress] [nvarchar](150) NULL,
	[INN] [nvarchar](50) NULL,
	[Rating] [int] NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[PartnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerType]    Script Date: 02.05.2025 10:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerType](
	[PartnerTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PartnerTypeName] [nvarchar](20) NULL,
 CONSTRAINT [PK_PartnerType] PRIMARY KEY CLUSTERED 
(
	[PartnerTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 02.05.2025 10:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeId] [int] NULL,
	[ProductMaterialId] [int] NULL,
	[ProductName] [nvarchar](100) NULL,
	[Articul] [nvarchar](50) NULL,
	[MinimumPrice] [decimal](15, 2) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 02.05.2025 10:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ProductTypeId] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeName] [nvarchar](50) NULL,
	[Coefficient] [decimal](5, 2) NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([ProductMaterialId], [ProductMaterialName], [PercentDamage]) VALUES (1, N'Тип материала 1', CAST(0.10 AS Decimal(5, 2)))
INSERT [dbo].[MaterialType] ([ProductMaterialId], [ProductMaterialName], [PercentDamage]) VALUES (2, N'Тип материала 2', CAST(0.95 AS Decimal(5, 2)))
INSERT [dbo].[MaterialType] ([ProductMaterialId], [ProductMaterialName], [PercentDamage]) VALUES (3, N'Тип материала 3', CAST(0.28 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerProducts] ON 

INSERT [dbo].[PartnerProducts] ([PartnerProductId], [ProductId], [PartnerId], [ProductCount], [DataSale]) VALUES (1, 1, 1, 15500, CAST(N'2023-03-23' AS Date))
INSERT [dbo].[PartnerProducts] ([PartnerProductId], [ProductId], [PartnerId], [ProductCount], [DataSale]) VALUES (2, 3, 1, 12350, CAST(N'2023-12-18' AS Date))
INSERT [dbo].[PartnerProducts] ([PartnerProductId], [ProductId], [PartnerId], [ProductCount], [DataSale]) VALUES (3, 4, 1, 37400, CAST(N'2024-06-07' AS Date))
SET IDENTITY_INSERT [dbo].[PartnerProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([PartnerId], [PartnerTypeId], [PartnerName], [PartnerCeo], [PartnerEmail], [PartnerPhone], [PartnerAddress], [INN], [Rating]) VALUES (1, 1, N'База Строитель', N'Иванова Александра Ивановна', N'aleksandraivanova@ml.ru', N'493 123 45 67', N'652050, Кемеровская область, город Юрга, ул. Лесная, 15', N'2222455179', 7)
INSERT [dbo].[Partners] ([PartnerId], [PartnerTypeId], [PartnerName], [PartnerCeo], [PartnerEmail], [PartnerPhone], [PartnerAddress], [INN], [Rating]) VALUES (2, 2, N'Паркет 29', N'Петров Василий Петрович', N'vppetrov@vl.ru', N'987 123 56 78', N'164500, Архангельская область, город Северодвинск, ул. Строителей, 18', N'3333888520', 7)
INSERT [dbo].[Partners] ([PartnerId], [PartnerTypeId], [PartnerName], [PartnerCeo], [PartnerEmail], [PartnerPhone], [PartnerAddress], [INN], [Rating]) VALUES (3, 3, N'Стройсервис', N'Соловьев Андрей Николаевич', N'ansolovev@st.ru', N'812 223 32 00', N'188910, Ленинградская область, город Приморск, ул. Парковая, 21', N'4440391035', 7)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerType] ON 

INSERT [dbo].[PartnerType] ([PartnerTypeId], [PartnerTypeName]) VALUES (1, N'ЗАО')
INSERT [dbo].[PartnerType] ([PartnerTypeId], [PartnerTypeName]) VALUES (2, N'ООО')
INSERT [dbo].[PartnerType] ([PartnerTypeId], [PartnerTypeName]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[PartnerType] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductTypeId], [ProductMaterialId], [ProductName], [Articul], [MinimumPrice]) VALUES (1, 3, 1, N'Паркетная доска Ясень темный однополосная 14 мм', N'8758385', CAST(4456.90 AS Decimal(15, 2)))
INSERT [dbo].[Products] ([ProductId], [ProductTypeId], [ProductMaterialId], [ProductName], [Articul], [MinimumPrice]) VALUES (2, 3, 2, N'Инженерная доска Дуб Французская елка однополосная 12 мм', N'8858958', CAST(7330.99 AS Decimal(15, 2)))
INSERT [dbo].[Products] ([ProductId], [ProductTypeId], [ProductMaterialId], [ProductName], [Articul], [MinimumPrice]) VALUES (3, 1, 3, N'Ламинат Дуб дымчато-белый 33 класс 12 мм', N'7750282', CAST(1799.33 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([ProductTypeId], [ProductTypeName], [Coefficient]) VALUES (1, N'Ламинат', CAST(2.35 AS Decimal(5, 2)))
INSERT [dbo].[ProductType] ([ProductTypeId], [ProductTypeName], [Coefficient]) VALUES (2, N'Массивная доска', CAST(5.15 AS Decimal(5, 2)))
INSERT [dbo].[ProductType] ([ProductTypeId], [ProductTypeName], [Coefficient]) VALUES (3, N'Паркетная доска', CAST(4.34 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
ALTER TABLE [dbo].[PartnerProducts]  WITH CHECK ADD  CONSTRAINT [FK_PartnerProducts_Partners] FOREIGN KEY([PartnerId])
REFERENCES [dbo].[Partners] ([PartnerId])
GO
ALTER TABLE [dbo].[PartnerProducts] CHECK CONSTRAINT [FK_PartnerProducts_Partners]
GO
ALTER TABLE [dbo].[PartnerProducts]  WITH CHECK ADD  CONSTRAINT [FK_PartnerProducts_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[PartnerProducts] CHECK CONSTRAINT [FK_PartnerProducts_Products]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_PartnerType] FOREIGN KEY([PartnerTypeId])
REFERENCES [dbo].[PartnerType] ([PartnerTypeId])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_PartnerType]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_MaterialType] FOREIGN KEY([ProductMaterialId])
REFERENCES [dbo].[MaterialType] ([ProductMaterialId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_MaterialType]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([ProductTypeId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductType]
GO
